<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="app.config">
    <add key="PATH" value="C:\Pruebas\PRODAT\"/>
    <add key="NameFile" value="Pruebas.txt"/>
  </appSettings>
  <connectionStrings>
    <add name ="cnn" connectionString="Data Source=VICTORPC; Initial Catalog=BDInformes; Integrated Security=True"/>
  </connectionStrings>
</configuration>